.hero {
  width: 100%;
  height: 250px;
  background-image: url("/portada.jpg"); /* nombre exacto del archivo */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  color: white;
  font-size: 48px;
  text-shadow: 0px 0px 10px black;
}
